{% comment %}
    Render an caption for section/block.
  {% render 'custom-caption', caption:String %}
    Accepts:
    caption- : {String} 
{% endcomment %}

<ul class="content-list">
    <li>{{ caption }}</li>
</ul>