.collection-banner {
  position: relative;
}
.collection-banner__image,
.collection-banner__image-mobile {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.collection-banner__image-mobile {
  height: 100px;
}

.collection-banner__image-mobile {
  display: none;
}

.collection-banner__info {
  top: 0%;
  left: 0;
  width: 100%;
  padding: 15px;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #0000006e;
}

.collection-banner__title {
  margin: 0 0 15px;
  color: white;
}

@media only screen and (max-width: 749px) {
  .collection-banner__image {
    display: none;
  }
  .collection-banner__image-mobile {
    display: block;
  }
}