.custom-header-container {
   display: flex; 
   align-items: center;
   justify-content: space-between;
   padding: 0 5rem;
}

.custom-header-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.custom-header-icons .svg_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.4rem;
    height: 4.4rem;
}

.custom-header-navigation ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0;
}

.custom-header-navigation ul li {
    list-style: none;
    padding: 1rem;
}

summary .icon-caret { 
    position: static;
}