.megamenu-product-card__info a {
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 18.2px;
}

.megamenu-product-card__prices_price {
    font-size: 1.6rem;
    font-weight: 700;
    color: black;
}

.megamenu-product-card__prices_cap {
    font-size: 1.4rem;
    font-weight: 600;
}

.megamenu-product-card__image {
    position: relative;
}

.megamenu-product-card__badges {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
}

.megamenu-product-card__badges span {
    background-color: #126fd3;
    border-radius: 10px;
    color: white;
    padding: 2px 10px;
    font-size: 11px;
}

#badge {
    font-weight: 400;
}

#Details-HeaderMenu-3 .mega-menu__link--level-2{
    display: none;
}

#Details-HeaderMenu-4 .mega-menu__link--level-2{
    display: none;
}

#Details-HeaderMenu-5 .mega-menu__link--level-2{
    display: none;
}

.faqContact {
    margin: 9px;
}

.faqContact a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}

.faqContact a span {
    color: grey;
}

.faqContact a:hover {
    color: #D03C3F;
}

@media screen and (max-width: 750px) {
    .faqContact {
        display: none;
    }
  }