.pdp-image-grid__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: dense;
    gap: 20px;
}

.pdp-image-grid-1,
.pdp-image-grid-2,
.pdp-image-grid-3,
.pdp-image-grid-4 {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}

.pdp-image-grid-1:hover {
    .pdp-image-grid__image-1 {
        transform: scale(1.05);
    }
}

.pdp-image-grid-2:hover {
    .pdp-image-grid__image-2 {
        transform: scale(1.05);
    }
}

.pdp-image-grid-3:hover {
    .pdp-image-grid__image-3 {
        transform: scale(1.05);
    }
}

.pdp-image-grid-4:hover {
    .pdp-image-grid__image-4 {
        transform: scale(1.05);
    }
}

.pdp-image-grid__image-1,
.pdp-image-grid__image-2,
.pdp-image-grid__image-3,
.pdp-image-grid__image-4 {
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: all 0.25s ease-in-out;
}

.pdp-image-grid__sub-heading {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.pdp-image-grid__heading {
    font-weight: 600;
    margin-bottom: 10px;
}

.pdp-image-grid__description {
    margin-bottom: 20px;
    font-size: 14px;
}

.pdp-image-grid__text-content-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

.pdp-image-grid__text-content-1 .pdp-image-grid__sub-heading,
.pdp-image-grid__text-content-2 .pdp-image-grid__sub-heading {
    color: rgb(255, 255, 255, 0.8);
}

.pdp-image-grid__text-content-1 .pdp-image-grid__heading,
.pdp-image-grid__text-content-2 .pdp-image-grid__heading {
    color: rgb(255, 255, 255);
}

.pdp-image-grid__text-content-1 .pdp-image-grid__description,
.pdp-image-grid__text-content-2 .pdp-image-grid__description {
    color: rgb(255, 255, 255);
}

.pdp-image-grid-1 {
    grid-column: span 2;
    grid-row: span 2;
}

.pdp-image-grid-2 {
    grid-column: span 2;
}

.pdp-image-grid__text-content-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.pdp-image-grid__text-content-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.pdp-image-grid__text-content-3 .pdp-image-grid__sub-heading,
.pdp-image-grid__text-content-4 .pdp-image-grid__sub-heading {
    color: rgba(0, 0, 0, 0.8);
}

.pdp-image-grid__text-content-3 .pdp-image-grid__heading,
.pdp-image-grid__text-content-4 .pdp-image-grid__heading {
    color: rgb(0, 0, 0);
}

.pdp-image-grid__text-content-4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.pdp-image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pdp-image-grid a {
    text-decoration: none;
    color: white;
}

.pdp-image-grid .gradiant-button {
    padding: .7rem 2.4rem;
    border: none;
}

@media screen and (max-width: 767px) {
    .pdp-image-grid__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .pdp-image-grid-1,
    .pdp-image-grid-2,
    .pdp-image-grid-3,
    .pdp-image-grid-4 {
        width: 100%;
        height: 250px;
    }

    .pdp-image-grid__text-content-1,
    .pdp-image-grid__text-content-2,
    .pdp-image-grid__text-content-3,
    .pdp-image-grid__text-content-4 {
        justify-content: center;
        align-items: center;
    }

    .pdp-image-grid__text-content-1 div p {
        margin: 0;
    }
}