.slider__image img
{
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}

.slider__flex
{
    display: flex;
}

.slider__image
{
    position: relative;
    z-index: -1;
}

.splide__track
{
    border-radius: 16px;
}

.slider__content
{
    padding: 30px 40px;
    position: absolute;
    width: 48%;
    margin-top: 4%;
}

.slider__content a.button
{
    font-weight: 400;
    font-size: 16px;
    margin-top: 8%;
}

.slider__content-list
{
    width: 34%;
    height: 26px;
    border: 1px solid white;
    font-size: 14px;
    font-weight: 400;
    border-radius: 25px;
    padding-left: 30px;
    padding-top: 2px;
    margin-bottom: 2%;
}

.slider__content-subheading
{
    display: flex;
}

.slider .splide__arrow--prev 
{
    left: 1em;
    top: unset;
    transform: unset;
    bottom: 5px;
    left: 44%;
    background: none;
}

.slider .splide__arrow--next 
{
    right: 1em;
    top: unset;
    transform: unset;
    bottom: 5px;
    right: 44%;
    background: none;
}

.slider .splide__arrow svg 
{
    fill: white;
}

.slider button.splide__pagination__page.is-active 
{
    border-radius: 5px;
    width: 20px;
    height: 6px;
}

.slider .splide__pagination li 
{
    display: inline-block;
    line-height: 0;
    list-style-type: none;
    margin: 4px;
    pointer-events: auto;
}

