.image-grid-container {
    gap: 2rem;
}

.image-grid-item img {
    max-width: 100%;
    min-height: 25rem;
    object-fit: cover;
    border-radius: 1.6rem;
    transition: all .5s;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.image-grid-item picture {
    display: flex;
}

.image-grid__item {
    position: relative;
    overflow: hidden;
    border-radius: 1.6rem;
}

.image-grid__content-box {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.image-grid__content {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-grid__content h2 {
    /* font-size: 3.2rem;
    font-weight: 700; */
    margin-bottom: 2rem;
}

.image-grid__content .content-list {
    margin-bottom: 1rem;
    margin-top: 0;
}

.image-grid__content .button {
    margin: 1rem;
    padding: 0.5rem 1.5rem;
}

.image-grid-item:hover img {
    transform: scale(1.05);
}

.image-grid__item {
    width: auto;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}

.image-grid-wrapper .button {
    background: radial-gradient(ellipse, #d03c3e66 50%, white 50%);
    background-size: 700% 450%;
    background-position: right;
    transition: all 1s ease-out;
    border: 1px solid white;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
    background-clip: padding-box; 
}

.image-grid-wrapper .button:hover {
    background-position: center;
    background-size: 150% 300%;
}

@media screen and (min-width: 750px) {
    .image-grid-item img {
        min-height: 35rem;
    }

    .image-grid__content-box {
        padding: 2.4rem;
    }

    .image-grid__content h2 {
        font-size: 32px;
        font-weight: 700;
    }

    .image-grid__content .button {
        margin: 1rem;
        padding: 1.3rem 3.3rem;
    }
}