.slider__image img {

    object-fit: cover;
    width: 100%;
    height: auto;
    min-height: 31.5rem;
    border-radius: 1.6rem;
}

.slider__flex {
    display: flex;
}

.slider__image {
    position: relative;
    z-index: -1;
}

.slider .splide__track {
    border-radius: 1.6rem;
}

.slider__content {
    padding: 2rem 2rem;
    position: absolute;
    width: 100%;
    margin-bottom: 4rem;
}

.slider__heading p {
    margin: 0;
    font-size: 2.6rem;
    font-weight: 600;
}

.slider__content a.button {
    padding: .8rem;
    margin-top: 1rem;
}

.slider__content-preheading {
    display: flex;
}

.slider .splide__arrow--prev {
    left: 1em;
    top: unset;
    transform: unset;
    bottom: .5rem;
    left: 30%;
    background: none;
}

.slider .splide__arrow--next {
    right: 1em;
    top: unset;
    transform: unset;
    bottom: .5rem;
    right: 30%;
    background: none;
}

.slider .splide__arrow svg {
    fill: white;
}

.slider button.splide__pagination__page.is-active {
    border-radius: .5rem;
    width: 2rem;
    height: .6rem;
}

.slider .splide__pagination li {
    display: inline-block;
    line-height: 0;
    list-style-type: none;
    margin: .4rem;
    pointer-events: auto;
}

.slider .hover-button {
    background: linear-gradient(to right, white 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.4s ease-out;
    border: none;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.slider .hover-button:hover {
    background-position: left bottom;
    color: #D03F29;
}

@media screen and (min-width: 750px) {
    .slider__image img {
        max-width: 100%;
        height: auto;
        border-radius: 1.6rem;
    }

    .slider__content {
        padding: 3rem 4rem;
        position: absolute;
        width: 48%;
        margin-top: 4%;
    }

    .slider__content a.button {
        font-weight: 400;
        font-size: 1.6rem;
        margin-top: 8%;
        padding: 1.3rem 1.1rem
    }

    .slider .splide__arrow--prev {
        left: 42%;
    }

    .slider .splide__arrow--next {
        right: 42%;
    }

    .slider__image img {
        max-width: 100%;
        min-height: 3.5rem;
        object-fit: cover;
    }

    .slider__content {
        margin-top: 4%;
        margin-bottom: 0;
    }

    .slider__heading p {
        font-size: 4rem;
    }

}