.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
}

.contact-us-wrapper {
  padding: 0 4rem;
}

.contact-us-details p {
  width: 48%;
  line-height: normal;
}

.contact-us-details_mobile p {
  width: 40%;
}

.contact-us-details h2+p {
  margin: 0;
}

.follow-us h2 {
  margin-bottom: 2rem;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
}

.social-icons a{
  text-decoration: none;
  color: black;
}

.social-icons a svg {
  fill: black;
}

.contact__button .button {
  padding: 1.2rem 4rem;
}

.mandatory {
  color: #D03C3F;
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}
