/* .product-card__color-variant {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    color: transparent;
    border-radius: 50%;
} */

/* .product-card__color-variant:hover::after {
    position: absolute;
    content: "";
    left: -4px;
    top: -4px;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
    border: 1px solid red;
} */

.product-card__radio {
    display: none;
}

.product-card__image {
    border-radius: 1.6rem;
}

.product-card__image img {
    border-radius: 1.6rem;
}

.product-card__image {
    position: relative;
    overflow: hidden;
}

.product-card__image img:nth-child(2) {
    opacity: 0;
}

.product-card__image:hover img:first-child {
    opacity: 0;
}

.product-card__image:hover img:nth-child(2) {
    opacity: 1;
}

.product-card__variant {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.product-card__image .media--portrait {
    padding-bottom: 120%;
}

.product-card__price {
    font-size: 1.8rem;
    font-weight: 700;
    color: black;
}

.product-card__compareprice {
    font-size: 1.4rem;
}

.product-card__title {
    text-decoration: none;
    font-weight: 500;
    height: 2.3rem;
    letter-spacing: 0.4px;
    color: black;
}

.product-card__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.product-card__vendor {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 0.8rem;
}

.product-card__stock {
    margin-top: 0.6rem;
}

.product-card__stock-more {
    color: green;
}

.product-card__stock-less {
    color: red;
}

.product-card__variants li {
    list-style: none;
}

.product-card__variants {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.product-card__swatch.product-card__colorswatch {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.product-card__swatch-container {
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 2px;
}

.product-card__swatch-container:hover {
    border: 1px solid red;
}

.product-card__variant input:checked~.product-card__swatch-container {
    border: 1px solid red;
}

.product-card__variant-input {
    display: none;
}

.product-card__form ul {
    padding: 0;
}

span.product-card__sizeswatch {
    border: 2px solid black;
    background-color: black;
    color: white;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 9px;
}

.custom-product-card__image-conatiner {
    position: relative;
}

.product-card-tags {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: .5rem;
}

.product-card-tags .product-card__badge {
    background-color: #22750e;
    color: white;
}

.product-card-tags .product-card__discount {
    background-color: #dd1d1d;
    color: white;
}

.product-card-tags .product-card__badge,
.product-card-tags .product-card__discount {
    border-radius: 2rem;
    padding: .4rem .8rem;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.product-card-preview {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem;
}

.product-card-preview .button {
    padding: 0;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 2.5rem;
}

.collection-container__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 3rem;
}

.collection-container__title .h1 {
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 31.2px;
}

.collection-container__title .button {
    padding: 8px 0px;
    background-color: #D03C3F;
}

.collection-container__title .hover-button {
    background: radial-gradient(ellipse, black 50%, #D03C3F 50%);
    background-size: 700% 450%;
    background-position: right;
    transition: all 1s ease-out;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
    background-clip: padding-box;
}

.collection-container__title .hover-button:hover {
    background-position: center;
    background-size: 150% 300%;
}

.swatch__out-of-stock {
    position: relative;
    border-radius: 50%;
}

.swatch__out-of-stock::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 10px;
}

.product-card-preview__mobile {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

.product-card-preview__mobile-icon {
    width: 35px;
    height: 33px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quickview__svg {
    width: 20px;
    height: 20px;
    fill: white;
}

.product-card-preview__mobile .hover-button {
    background: radial-gradient(ellipse, #D03C3F 50%, black 50%);
    background-size: 700% 450%;
    background-position: right;
    transition: all 1s ease-out;
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
    background-clip: padding-box;
}

.product-card-preview__mobile .hover-button:hover {
    background-position: center;
    background-size: 150% 300%;
}

.product-card-preview .hover-button {
    background: radial-gradient(ellipse, #D03C3F 50%, black 50%);
    background-size: 700% 450%;
    background-position: right;
    transition: all 1s ease-out;
    color: white;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
    background-clip: padding-box;
}

.product-card-preview .hover-button:hover {
    background-position: center;
    background-size: 150% 300%;
}

.product-card-preview {
    display: none;
}

@media screen and (min-width:750px) {

    .product-card-preview {
        display: block;
    }

    .product-card-preview__mobile {
        display: none;
    }

    .collection-container__title .h1 {
        font-size: 3.4rem;
        letter-spacing: 0.3px;
        line-height: 44.2px;
    }

    .collection-container__title .button {
        padding: 1.3rem;
    }
}