/* .product-card__color-variant {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    color: transparent;
    border-radius: 50%;
} */

/* .product-card__color-variant:hover::after {
    position: absolute;
    content: "";
    left: -4px;
    top: -4px;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    background-color: white;
    z-index: -1;
    border: 1px solid red;
} */

.product-card__radio {
    display: none;
}

.product-card__image {
    border-radius: 1.6rem;
}

.product-card__image img {
    border-radius: 1.6rem;
}

.product-card__image {
    position: relative;
    overflow: hidden;
}

.product-card__image img:nth-child(2) {
    opacity: 0;
}

.product-card__image:hover img:first-child {
    opacity: 0;
}

.product-card__image:hover img:nth-child(2) {
    opacity: 1;
}

.product-card__variant {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.media--portrait {
    padding-bottom: 120%;
}

.product-card__price {
    font-size: 1.8rem;
    font-weight: 700;
    color: black;
}

.product-card__compareprice {
    font-size: 1.4rem;
}

.product-card__title {
    text-decoration: none;
    font-weight :500;
    height: 2.3rem;
    letter-spacing: 0.4px;
    color: black;
}

.product-card__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-card__vendor {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 0.8rem;
}

.product-card__stock {
    margin-top: 0.6rem;
}

.product-card__stock-more {
    color: green;
}

.product-card__stock-less {
    color: red;
}

.product-card__variants li
{
    list-style: none;
}

.product-card__variants
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.product-card__swatch.product-card__colorswatch {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.product-card__swatch-container{
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 2px;
}

.product-card__swatch-container:hover {
    border: 1px solid red;
}

.product-card__variant input:checked ~ .product-card__swatch-container {
    border: 1px solid red;
}

.product-card__variant-input
{
    display: none;
}

.product-card__form ul{
    padding: 0;
}

span.product-card__sizeswatch
{
    border: 2px solid black;
    background-color: black;
    color: white;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 9px;
}