@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  position: absolute;
  z-index: 1;
  width: 1.8rem;
}

@media screen and (max-width: 749px) {
  .collection .loading-overlay {
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    left: 0;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description>* {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}

.facet-color_swatches .product-card__swatch,
.color-variant {
  display: block;
  width: 30px;
  height: 30px;
  border: 1.5px solid transparent;
  border-radius: 50%;
}

ul.facets-layout-list {
  column-count: 2;
}


.list-menu__item:hover .color-variant {
  box-shadow: 0 0 0 3px white inset;
}

.facet-color-swatch-input:checked~.facet-color_swatches .color-variant {
  box-shadow: 0 0 0 3px white inset;
}

.product-card__title {
  text-decoration: none;
  font-weight: 500;
  height: 2.3rem;
  letter-spacing: .4px;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.product-card__info {
  margin-top: .5rem;
}

.facet-color_swatches .item-swatch {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

span.facet-checkbox__text {
  font-weight: 600;
  margin-left: 1rem;
  color: black;
}

.navigation-menu {
  margin: 0;
}

.navigation-menu p {
  margin: 0;
}

.navigation-menu__parent {
  background: #f5f5f5;
  margin: 2px;
  border-radius: 12px;
  padding: 8px 0px 8px 20px;
}

.navigation-menu details {
  transition: all 4s;
}

.navigation-menu__child {
  padding: 8px 0px 8px 20px;
}

.navigation-menu__grandchild {
  padding: 8px 0px 8px 40px;
}

.navigation-menu__group ul {
  padding: 0;
}


.product-card-preview .hover-button {
  background: radial-gradient(ellipse, #D03C3F 50%, black 50%);
  background-size: 700% 450%;
  background-position: right;
  transition: all 1s ease-out;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  background-clip: padding-box;
}

.product-card-preview .hover-button:hover {
  background-position: center;
  background-size: 150% 300%;
}

.custom-navigation-menu a {
  text-decoration: none;
  color: inherit;
}

.custom-navigation-menu summary:hover {
  color: #D03C3F;
}

.product-grid__buttons {
  display: flex;
  align-items: start;
  justify-content: center;
}

.product-grid__mobile_buttons div {
  padding: 0;
  width: 50px;
}

.product-grid__mobile_buttons {
    display: flex;
    margin: 0 1rem;
}

.product-grid__mobile_buttons svg{
  cursor: pointer;
}

.product-grid__buttons div {
  padding: 0 2rem;
  cursor: pointer;
}

.facets-container {
  /* background-color: #F5F5F5; */
  border-radius: 1.6rem;
  padding: .8rem .2rem;
  margin: 0;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .custom-navigation-menu {
    display: none;
  }

  .product-grid-container__mobile .grid--1-col-tablet-down .custom-product-card-wrapper
  {
    display: grid;
    grid-auto-flow: column;
  }

  .product-grid-container__mobile .grid--1-col-tablet-down .product-card__image
  {
    width: 16rem;
  }
  
  .product-grid-container__mobile .grid--1-col-tablet-down .product-card__info
  {
    width: 20rem;
  }

}

